body{
    font-family: "Quicksand", sans-serif;
}

.h1,.h2{
    font-family: "Oswald", sans-serif;
}

.h1{
    margin-top: 2rem;
    font-size: 4rem;
}

.h2{
    padding: .3rem .8rem .3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: #8C3A57 8px solid;
}

.row{
    margin-bottom: 1rem;
}

.accueil{
    background-color: #8C3A57;
    color: white;
    padding: 2rem;
    margin: 0;
}

.accueil p{
    margin-top: 2rem;
}

a.accueil-lien{
    text-decoration: none;
    margin-top: 1rem;
    color: white;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
}

a::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  

a:hover.accueil-lien{
    color: white;
}

a:hover{
    text-decoration: none;
    color: black;
}


.center{
    margin: 2rem auto;
}

.lien{
    color: black;
    border-bottom: #8C3A57 3px solid;
    text-align: center;
}

.center{
    display: block;
    margin: 2rem auto;
}

.carousel-projets{
    background-color: #8C3A57;
}

.carousel{
    border: 4px solid white;
}

.carousel-caption{
    color: black;
    background-color: white;
    border-radius: 2rem;
}
@media(min-width:700px){
    .carousel-caption{
        font-size: 1.5rem;
        padding: .8rem;
    }
}

@media(max-width:699px){
    .carousel-caption{
        padding: .2rem;
    }
}

.carousel-caption p{
    margin: 0;
    text-align: center;
}

i{
    margin-right: 1rem;
    color: #8C3A57;
}

footer{
    background-color: #8C3A57;
    margin-top: 3rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

.reseaux-footer i{
    color: white;
}